/*Barra de navegacion*/
.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}
.navbar-collapse{
  align-items: center;/*centramos el contenido*/
  justify-content: space-between;/*Lo distribuimos entre los elementos*/
}

/*Estilos generales*/

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

h1{
  font-size: 2.5rem;
}
.seccion-oscura{
  color: white;
  background-color: #010113;
  }
  .seccion-clara{
    color: #010113;
    background-color: #f5f6f7;
  }
.seccion-titulo{
  font-size: 2rem;
  padding: 5px 0px ;
  font-family: 'Times New Roman', Times, serif;
}
.seccion-texto{
  font-size: 1.2rem;
  padding: 10px;
}
.seccion-descripcion{
  font-size: 1.2rem;
  color: #584e4e;
}
.texto-negro{
  color: black;

}
.btn-info{
  font-size: 1.1rem;
  margin: 20px;
  font-weight: bold;
}
.texto-blanco{
  color: white;
}
/* Seccion hero*/
.hero{
  background-color: #a7b3bf;
  min-height: 450px;/*permitimos que se estire*/
  text-align: center;
}
.hero-principal{
  padding: 2rem;
}
.hero-imagen-carro{
  width: 200px;
  height: 200px;
  text-align: center;
  border-radius: 50%;
  margin: 20px;
}

.hero-principal h2{
  font-size: 1.5rem;
  color: #5c6151;
}
.hero-inferior{
  color: #f5f7f697;
}
/*Sobre Xue*/
.sobre-xue{
  height: 300px;
  padding: 5px;
}

.sobre-xue .contenedor{
  max-width: 500px;
  text-align: center;
}
/* experiencia*/
.experiencia{
  padding: 40px;
  }
  .experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2 ease-in; /*All es para todos los efectos e easy in es un tipo de efecto*/
  }
  /*Si usamos hover nos permite hacer algo cuando el cursor esté en ese elemento
  En este caso cambia de color*/
  .experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
  }
    .experiencia-fotonica{
    size: 25px;
    font-weight: bold;
    margin: 10px 0;
  }
  .badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  .badge{
    margin: 5px;
  }
  /*Proyectos*/
  .proyectos-recientes{
    padding: 40px;
  }
  .proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all, 0.2s ease;
  }
  .proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
    }
    /*Overlay se trata del contenido que se coloca sobrepuesto a una imagen*/
  .overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay p{
    color: blue;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    }
  .proyecto{
      position: relative;
    }
  .proyecto:hover img{
      opacity: 0.2;
    }
    /*veamos el efecto cuando el mouse pasa por el elemento. le asignamos el estilo*/
  .proyecto:hover .overlay{
    opacity:  1;
  }
  .overlay .iconos-contenedor{
    display: flex;/*Queremos que los iconos se muestren en una sola fila*/
  }
  
  
  .overlay i{
    color: black;
    font-size: 60px;
    margin: 10px;
  }  
  /*Articulos*/

  .articulos{
    min-height: 500px;
    padding: 30px;  
  }
  .ariculos .card{
    width: 80%;
    max-width: 600px;
    margin: 20px;
  }
  .articulos .card-header{
    font-weight: bold;
  }
  /*Testimonio*/
  .testimonios{
    padding: 40px 40px 80px 40px;  

  }
  .testimonios-carrucel{
    max-width: 800px;
  }
  .crousel-item{
    height: 500px;    
  }
  .carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonio-imagen{
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;    
  }
  .testimonio-texto{
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
  }
  .testimonio-info{
    font-weight: bold;
    text-align: center;
  }
  .testimonio-texto p{
    margin-bottom: 0;
    font-weight: bold;
    
  }
  .testimonio-footer .cliente{
    font-size: 1.2rem;    
  }
  .testimonio-footer .cargo{
    font-size: 0.9rem;
    color: #556060;
  }

/*Contactos*/
.contacto .container{
  max-width: 1000px;
  min-height: 200px;
  padding: 20px;
}
.contacto .rectangulo{
  margin-top: -5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}
.contacto .row{
  width: 100%;
  display: flex;
  align-items: center;
  }
  .contacto .descripcion{
    color: white;
    font-size: 1.2rem;    
  }
  .contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em; /*em es un tamaño relativo al tamaño de letra del contenedor*/
    margin: 10px;
    border-radius: 100px;
    transition: ease-in-out;
  }
  .contacto button i{
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
  }
  .contacto button:hover{
    background-color: #f5f6f7;
    color: #010113;
  }
  .contacto button i{
    color: #010113;
  }
  /*pie de página (Footer)*/
  .footer{
    min-height: 500px;   
    margin-bottom: 0px; 
  }
  .footer-logo{
    height: 80px;
    width: 80px;
    margin: 0px;
  }
  .footer-texto{
    font-size: 1,5rem;
    padding: 10px;
    margin-bottom: 0px; 
    font-family: sans-serif;   
  }
  .enlaces-relacionados a{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2 ease-in;
  }
  .enlaces-relacionados img{
    width: 60px;
    height: 60px;
    margin-bottom: 2px;
    transform: all 0.2 ease-in;
  }
  .enlaces-relacionados a:hover{
    background-color: #adb5bc;
    border: 2px solid rgb(13, 110, 253);
  }
  derechos-autor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }


  /*Adaptative(Responsive)*/
@media screen and(max-width: 800px){
  .testimonio-imagen{
    height: 120;
    width: 120;
  }
  
}
@media screen and (max-width: 767px){
  /*decimos que en el medio pantalla con 767px se aplique lo siguiente*/
  .navbar-brand{
    display: none;/*que no se muestre*/
  }
@media screen and (max-width: 700px){
  .hero-inferior-imagen{
      max-width: 600px;
      color: #f5f6f7;
    }

  }

} 